* {
  box-sizing:b border-box;
}

body {
  overflow-y: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.background {
  width: 100%;
  height: 100vh;
  background: url(https://cdn.wallpapersafari.com/26/92/0KH5pV.jpg),
  linear-gradient(rgb(255, 255, 255), transparent),
  linear-gradient(to top, rgb(255, 255, 255), transparent);
  background-blend-mode: screen;
}

.home {
  display: flex;
  width: 100%;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .noSelect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 100px;
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    color: rgb(151, 151, 151);
}

  .plate{
    cursor: pointer;
    transition: transform 50ms ease-in-out;
    overflow: visible;
    transform: scale(2);
    .topLeft, .topRight, .bottomLeft, .bottomRight {
      background-color: rgb(238, 238, 238);
      transition: transform 1s;
      transform-origin: center;
    }
    .crack {
      display: none;
    }
  }
  .plate.grow:not(.exploded){
    transform: scale(1.4);
  }
  .exploded {
    cursor: initial;
    .topLeft {
      transform: translate(-8vw, -9vh) rotate(-70deg);
    }
    .topRight {
      transform: translate(8vw, -5vh) rotate(100deg);
    }
    .bottomLeft {
      transform: translate(-6vw, 12vh) rotate(60deg);
    }
    .bottomRight {
      transform: translate(6vw, 10vh) rotate(120deg);
    }
  }

  button {
    animation: fadeIn 5s;
    position: absolute;
    bottom: 10%;
    font-size: 40px;
    cursor: pointer;
    color: rgb(151, 151, 151);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    border: none;
    background: none;
    font-family: 'Righteous', cursive;
  }
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.navbarPlate {
  transform: scale(0.4);
  overflow: visible;
  .topLeft, .topRight, .bottomLeft, .bottomRight {
    transform: translate(-25px, -25px) rotate(0deg);
    .noCracks {
      display: none;
    }
  }
}

.game {
  width: 98vw;
  height: 800px;
  border: 3px solid black;
  .projectile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #e5e5e5;
    &:hover {
      cursor: grab;
    }
    .inner {
      margin: 10px;
      width: 76px;
      height: 76px;
      border: 1px solid black;
      border-radius: 50%;
      background-color: white;
    }
  }
}

textarea {
  width: 100%;
  min-height: 100px;
}

.cardIndex {
  h5 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(68, 68, 67);
  }
}

.profilePage {
  h1 {
    font-size: 40px;
  }
  h5, h3, h1, a, p, li, label {
    font-family: 'Open Sans', sans-serif;
  }
  h5, h3, h1, label {
    color: rgb(68, 68, 67);
  }
  h5 {
    font-style: italic;
  }
  a, p, li {
    font-size: 18px;
    font-weight: bolder;
    color: brown;
    font-style: italic;
  }
  
  button {
    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgb(68, 68, 67);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    color: rgb(68, 68, 67);
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.18);
  }
  button:hover {
    background-color: rgba(165, 42, 42, 0.5);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .removeM8 {
    width: 25px;
    height: 25px;
  }
  .removeM8:hover {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: red;
  }
  hr {
    border: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0);
  }
  ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
	background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    height: 8px;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #b6b6b6;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
  }
}



.containerScroll {
  display: flex;
  overflow-x: scroll;
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,.15);
  padding: 3px;
  border-radius: 5px;
}


.cardScroll {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin: 10px 10px 10px 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .1);
}

.cardScroll:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, .1);
  transition: 0.3s;
}

.friends {
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  height: 20vh;
}

.cardProfile {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 10px 10px 10px 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .1);
}

.showCard {
  h1 {
    font-size: 40px;
  }
  h5, h3, h1, a, p, li, label {
    font-family: 'Open Sans', sans-serif;
  }
  h5, h3, h1, label {
    color: rgb(68, 68, 67);
  }
  a, p, li {
    font-size: 18px;
    font-weight: bolder;
    color: brown;
    font-style: italic;
  }
  .showImage {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.18);
    border-radius: 5px;
  }
  select {
    background-color: rgba(0, 0, 255, 0);
    border: 2px solid rgb(68, 68, 67);
    border-radius: 5px;
    width: 100px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(68, 68, 67);
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.18);
  }
  select:hover {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  button {
    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgb(68, 68, 67);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    color: rgb(68, 68, 67);
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.18);
  }
  button:hover {
    background-color: rgba(165, 42, 42, 0.5);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  hr {
    border: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0);
  }
}

.showImage {
  max-height: 500px;
}
.commentLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  .commentImage{
    border: 1px solid black;
    border-radius: 50%;
    height: 50%;
    margin: 0 10px;
    width: 10%;
    img {
      border-radius: 50%;
      height: 100%;
    }
  }
  p {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-left: 2px solid black;
    height: 100%;
    padding-left: 10px;
    width: 80%;
    max-width: 400px;
  }
  div {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    margin: 0 5px;
  }
}

.commentTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  
}

.index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.is-rounded {
  margin: 10px;
}

.commentPopUp {
  animation: fadeIn 1s;
  background-color: rgba(211, 211, 211, 0.8);
  position: fixed;
  height: 50%;
  right: 25%;
  top: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  h1 {
    font-size: 35px;
  }
  .enterText{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    textarea {
    width: 80%;
    height: 70%;
    max-width: 90%;
    max-height: 90%;
    padding: 5px;
    font-size: 18px;
    }
  }
  .buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    button {
      font-size: 20px;
    }
  }
}

.commentsPage {
  background: url(https://images.squarespace-cdn.com/content/v1/5463df57e4b05c41e0cdd600/1439492263995-ADPX7TVR1SA5VUEFOWAS/ke17ZwdGBToddI8pDm48kOvSl7uZBiJvhHNx8kGuj7N7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UQJVLCXI9FCYomYbws-y-45T4YLCF5qkYPw7Lwwtgtn6_Pu309TggK9CQbI7GxGOBQ/image-asset.jpeg?format=2500w),
  linear-gradient(rgb(255, 255, 255), transparent),
  linear-gradient(to top, rgb(255, 255, 255), transparent);
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  h3, h1, a, p, small {
    font-family: 'Open Sans', sans-serif;
  }
  button {
    background-color: rgba(0, 0, 255, 0);
    border: 1px solid rgb(68, 68, 67);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    color: rgb(68, 68, 67);
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.18);
  }
  button:hover {
    background-color: rgba(165, 42, 42, 0.5);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .topDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1{
      font-size: 45px;
    }
    img{
      max-width: 20%;
      box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .9);
    }
    hr {
      width: 90%;
    }
  }
  .mainContent{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .fullComment {
      margin: 15px 0;
      width: 45%;
      display: flex;
      .whoPosted {
        height: 200px;
        width: 20%;
        border-right: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .link {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 70%;
          width: 80%;
          color: brown;
          font-style: italic;
          .imageLink {
            border: 1px solid black;
            border-radius: 50%;
            height: 50%;
          }
        }
        small {
          text-align: center;
        }
      }
      .text {
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
        p {
          max-width: 80%;
          margin-left: 10px;
          word-wrap: break-word;
        }
      }
      .editDiv{
        display: flex;
        width: 10%;
        height: 100%;
        align-items: center;
        button {
          margin: 0;
        }
      }
    }
  }
}
.addM8 , .removeM8{
  position: absolute;
  top: 80px;
  right: 5px;
  background-color: lightskyblue;
  font-size: 20px;
}
.removeM8 {
  background-color: red;
}

.m8Remover {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    position: relative;
    top: 20px;
    background-color: red;
    color: whitesmoke;
  }
}

.indexView {
  height: 1000px;
}

.cardIndex {
  background: url(https://c1.wallpaperflare.com/preview/135/201/157/background-food-tasty-olives.jpg),
  linear-gradient(rgb(255, 255, 255), transparent),
  linear-gradient(to top, rgb(255, 255, 255), transparent);
  height: auto;
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
}

.showCard{
  background: url(https://images.squarespace-cdn.com/content/v1/5463df57e4b05c41e0cdd600/1439492263995-ADPX7TVR1SA5VUEFOWAS/ke17ZwdGBToddI8pDm48kOvSl7uZBiJvhHNx8kGuj7N7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UQJVLCXI9FCYomYbws-y-45T4YLCF5qkYPw7Lwwtgtn6_Pu309TggK9CQbI7GxGOBQ/image-asset.jpeg?format=2500w),
  linear-gradient(rgb(255, 255, 255), transparent),
  linear-gradient(to top, rgb(255, 255, 255), transparent);
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
}

.profilePage {
  background: url(https://cdn.hipwallpaper.com/i/0/68/OG1FLx.jpg),
  linear-gradient(rgb(255, 255, 255), transparent),
  linear-gradient(to top, rgb(255, 255, 255), transparent);
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
}

.card {
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.18);
}



@import '~bulma/bulma.sass';