* {
  box-sizing:b border-box;
}

body {
  overflow-y: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.background {
  width: 100%;
  height: 100vh;
  background-color: rgb(2, 121, 247);
}
.home {
  display: flex;
  width: 100%;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .noSelect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 100px;
    font-family: 'Righteous', cursive;
    color: whitesmoke;
}
  .plate{
    cursor: pointer;
    transition: transform 50ms ease-in-out;
    overflow: visible;
    transform: scale(2);
    .topLeft, .topRight, .bottomLeft, .bottomRight {
      transition: transform 1s;
      transform-origin: center;
    }
    .crack {
      display: none;
    }
  }
  .plate.grow:not(.exploded){
    transform: scale(1.4);
  }
  .exploded {
    cursor: initial;
    .topLeft {
      transform: translate(-8vw, -9vh) rotate(-70deg);
    }
    .topRight {
      transform: translate(8vw, -5vh) rotate(100deg);
    }
    .bottomLeft {
      transform: translate(-6vw, 12vh) rotate(60deg);
    }
    .bottomRight {
      transform: translate(6vw, 10vh) rotate(120deg);
    }
  }
  button {
    position: absolute;
    bottom: 10%;
    font-size: 40px;
    cursor: pointer;
    color: whitesmoke;
    border: none;
    background: none;
  }
}
.navbarPlate {
  transform: scale(0.4);
  overflow: visible;
  .topLeft, .topRight, .bottomLeft, .bottomRight {
    transform: translate(-25px, -25px) rotate(0deg);
    .noCracks {
      display: none;
    }
  }
}

.game {
  width: 98vw;
  height: 800px;
  border: 3px solid black;
  .projectile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    .inner {
      margin: 10px;
      width: 76px;
      height: 76px;
      border: 1px solid black;
      border-radius: 50%;
    }
    animation: 6s  infinite fall;
  }
}

@keyframes fall {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: 50%
  }
}

textarea {
  width: 100%;
  min-height: 100px;
}

// ::-webkit-scrollbar {
//   width: 12px;
// 	background-color: #F5F5F5;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	border-radius: 10px;
// 	background-color: #F5F5F5;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
// 	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// 	background-color: #b9b9b9;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: #a8a8a8;
// }

.containerScroll {
  display: flex;
  overflow-x: scroll;
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,.15);
  padding: 3px;
  border-radius: 5px;
}


.cardScroll {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin: 10px 10px 10px 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .1);

}

.cardScroll:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, .1);
  transition: 0.3s;
}

.friends {
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

@import '~bulma/bulma.sass';